.graphh-container{
display:"flex";
 width: 55%;
}
.dates{
    display: flex;
    flex-wrap: wrap;
}
.dates button{
    border: none;
    background-color: white;
    margin: 5%;
}
.select1, .select2{
    padding: 10px;
    margin: 5% 0 0 20%;
}
.mood{
    transform:rotate(-90deg);
    margin-left: -36%;
    margin-right: 56%;
    font-size: 16px;
}

@media(max-width:600px){
    .graphh-container{
        width: 100%;
    }
}